<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://github.com/user-attachments/assets/92d255c4-8d97-4881-925a-8f099152c85a"
      cardTitle="Elas Code: Programando Mudanças, Inspirando Gerações"
      cardDescription="O Elas Code é uma iniciativa que busca incentivar e capacitar 
      mulheres a ingressarem na área de tecnologia."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Aprenda e Transforme: Cursos que Empoderam"
      photoCover="https://github.com/user-attachments/assets/e6a313ca-ace5-4476-bba1-ae12eea80ef2"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Mentoria: Orientando Talentos, Despertando Potenciais"
      photoCover="https://github.com/user-attachments/assets/67eb7f1c-1ee0-42f1-98d5-24a6d81afa8e"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Eventos: Conectando Mentes, Inspirando Transformações      "
      photoCover="https://github.com/user-attachments/assets/7c6f070c-793a-4160-bacb-b1697dccb795"
    >
    </app-small-card>
  </div>
</div>
