/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color:rgb(52, 2, 45);
  color:white;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.content__title h1 {
  font-size: 82px; /* ou maior se quiser */
  font-weight: bold;
  text-align: center; /* opcional */
  margin-top: 20px;
}

